Flask==2.3.3
flask_oauthlib
flask-paginate
flask-restplus
Flask-Script
flask-restx
flask_jwt_extended
Flask-Bcrypt
Flask-Cors
Flask-SQLAlchemy
Flask-Testing
Flask-Migrate
Flask-CLI
python-dotenv
openai
aiohttp
requests
gunicorn
groq
qdrant-client[fastembed]
